/* css code for Testimonial */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.wrapper {

    /* designing container for our Testimonial cards layout  */
    background:linear-gradient(50deg, #282a39 0%, #f87652 200%);
    min-height:100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway' sans-serif;
    color: #fff;
    } 
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
}